/*********** Blog Header ***********/

.navbar-brand{

        
    }


/*********** Blog Widget **********/


.widget{
            
    margin-top:22px; 
}
        
        
.widget ul{

    padding: 10px;
    display:inline-block; 
}

.widget ul li{

    list-style-type:none;
    display: block;
    color:blue;
    font-size:14px; 
    margin-left:0; 
}

       
/******************* Post *******************************/


.post:first-child{

    margin-top:0px; 
}
.post{

    margin-top:40px; 
}
.post a{
    text-decoration: none;
    color: black;


}

  .post a:hover{
   color:#52B7EB;


}

  .post ul {
    padding: 0;


}  
.post ul li{
    list-style: none;
    display: inline;
    margin-left:10px; 
}




/******************* Single Post Page **************************/
.comment{

        margin-top: 22px; 
    }    

    .commenter img{
        border-radius: 50%;
        background: black; 
        width: 50px;
        height: 50px;

    }

    .comment-body{
        margin-left:22px;  

    }
/**Archeive Type Title **/
.archeive-title{
    font-family: sans-serif;
    font-size:39px; 
    background:#e3e3e3;
    text-transform:uppercase; 
        
    
}

/***************** Error Message *********/
label.error{
    
    color:#F00; 
}

input.error{
    
    border:1px red solid;  
}

/********************** Dashboard ***********/

.profile-icon{
    border-radius:50%; 
}

/******************* Footer *************/
        
footer{
    background:#303030;
    color:white;
    text-align: center;
    padding:100px; 
    height:200px;
    margin-top:44px;  



} 
    