<!DOCTYPE html>
{% extends 'backend/base.html'%}
{% block content %}
<div class="col-md-10" >


		<div class="post" style="height:500px; overflow: scroll">

				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Comment</th>
							<th scope="col">By</th>
							<th scope="col">Status</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>

							<td style="width:400px;">
									<p>nice post!</p>
									<a href="#" class="btn btn-success">View in the Post</a>

							</td>
							<td>BinaryDigit</td>
							<td>Awaiting for Moderation </td>
							<td>
									<select class="custom-select" style="width:200px">
										<option>
											Approve
										</option>

											<option>
											 Mark As Spam
											</option>
											<option>
											Move to Trash
											</option>
									</select>
									<button class="btn btn-dark">Apply</button>
							</td>

						</tr>







					</tbody>
				</table>



		</div>



</div>

</div>

{% endblock %}
