<!DOCTYPE html>
{% extends 'backend/base.html'%}
{% block content %}
<div class="col-md-10" >


		<div class="post" style="height:500px; overflow: scroll">

				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Comment</th>
							<th scope="col">By</th>
							<th scope="col">Status</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% if comments %}
							{% for comment in comments %}
							<tr>
								<th scope="row">{{forloop.counter }}</th>

								<td style="width:400px;">
										<p>{{ comment.content }}</p>
										<a href="/blog/posts/{{comment.post.id}}" class="btn btn-success">View in the Post</a>

								</td>
								<td>{{ comment.author }}</td>
								{% if comment.is_approved %}
								<td>Approved</td>
								<td>
										<form action="{% url 'backend:moderate_comment'%}" method="POST" >
											{% csrf_token %}
										<input type="hidden" name="comment_id" value="{{comment.id}}">
										<select name="action" class="custom-select" style="width:200px">
												<option value="trash">
												Move to Trash
												</option>
										</select>
										<button type="submit" class="btn btn-dark">Apply</button>
									</form>
								</td>
								{% else %}
								<td>Awaiting for Moderation </td>
								<td>
								<form action="{% url 'backend:moderate_comment'%}" method="POST" >
									{% csrf_token %}
									<input type="hidden" name="comment_id" value="{{comment.id}}">
									<select name="action" class="custom-select" style="width:200px">
										<option value="approve">
											Approve
										</option>

											<option value="trash">
											Move to Trash
											</option>
									</select>
									<button type="submit" class="btn btn-dark">Apply</button>
								</form>
								</td>
								{% endif %}



							</tr>

							{% endfor %}
						{% endif %}






					</tbody>
				</table>



		</div>



</div>

</div>

{% endblock %}
