<!DOCTYPE html>
{% extends 'backend/base.html'%}
{% block content %}
<div class="col-md-6">


		<div class="post">



					<div class="form-group">

							<label for="post-title">Post Title:</label>
							<input type="text" id="post-title" class="form-control" value="{{post.title}}">

					</div>

					<div class="form-group">
							<label for="content">Post Content:</label>
							<textarea class="form-control" rows="6" id="content">
								{{post.content}}
							</textarea>

					</div>



				<div class="form-group" style="float: right">
						<button id="draft" class="btn btn-default">Save as Draft</button>
						<button id="pubish" class="btn btn-primary">Publish</button>
				</div>

		</div>



</div>

<div class="col-md-2">

		<div class="post-option">

				<h2 style="font-size: 20px">Post Options:</h2>

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<label class="input-group-text" for="category">Category</label>
			</div>
			<select class="custom-select" id="category">
				<option selected value="{{post.category}}">{{post.category}}</option>
				<option value="java">Java</option>
				<option value="php">PHP</option>
				<option value="python">Python</option>
			</select>


		</div>

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<label class="input-group-text" for="category">Tags</label>
			</div>
			<select class="custom-select" id="category">
				<option selected value="{{post.tag}}">{{post.tag}}</option>
				<option value="java">algorithm</option>
				<option value="php">php</option>
				<option value="python">data structure</option>
				<option value="python">content programming</option>
			</select>
		</div>

		<div class="form-group">
				<label for="file" >Select a Featured Image</label>
				<input type="file" id="file" class="form-control" onchange="readURL(this);">
				<img id="featured_image" src="/media/{{post.featured_img}}" alt="{{post.title}}" width="200px" height="200px">
		</div>

		</div>

</div>
{% endblock %}
