<!DOCTYPE html>
{% extends 'backend/base.html'%}
{% block content %}
{% if post_page %}
<div class="col-md-10" >


		<div class="post" style="height:500px; overflow: scroll">
			<div class="" style="float:right; margin-bottom:10px">
				<a href="{% url 'backend:new_post'%}"class="btn btn-primary"> + New Post </a>
			</div>


				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Post Title</th>
							<th scope="col">Author</th>
							<th scope="col">Date Modified</th>
							<th scope="col">Status</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% if posts %}
							{% for post in posts %}
							<tr>
								<th scope="row">{{ forloop.counter }}</th>
								<td> <a href="/blog/posts/{{post.id}}"> {{ post.title}} </a></td>
								<td><a href="/blog/author/{{post.author}}">{{ post.author}}</a></td>
								<td>{{post.updated_date.year}}/{{post.updated_date.month}}/{{post.updated_date.day}}</td>
								<td>{{post.status}}</td>
								<td>
										<a href="/backend/edit_post/{{post.id}}" class="btn btn-success">edit</a>
										<button class="btn btn-danger">delete</button>
								</td>
								<td></td>
							</tr>
							{% endfor %}
						{% endif %}
					</tbody>
				</table>



		</div>
</div>
{% elif new_post %}
<div class="col-md-6">


		<div class="post">

				<div class="form-group">

						<label for="post-title">Post Title:</label>
						<input type="text" id="post-title" class="form-control" value="">

				</div>

				<div class="form-group">
						<label for="content">Post Content:</label>
						<textarea class="form-control" rows="6" id="content">

						</textarea>

				</div>

				<div class="form-group" style="float: right">
						<button id="draft" class="btn btn-default">Save as Draft</button>
						<button id="pubish" class="btn btn-primary">Publish</button>
				</div>

		</div>



</div>

<div class="col-md-2">

		<div class="post-option">

				<h2 style="font-size: 20px">Post Options:</h2>

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<label class="input-group-text" for="category">Category</label>
			</div>
			<select class="custom-select" id="category">
				<option selected value="c">C</option>
				<option value="java">Java</option>
				<option value="php">PHP</option>
				<option value="python">Python</option>
			</select>


		</div>

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<label class="input-group-text" for="category">Tags</label>
			</div>
			<select class="custom-select" id="category">
				<option selected value="c">C</option>
				<option value="java">algorithm</option>
				<option value="php">php</option>
				<option value="python">data structure</option>
				<option value="python">content programming</option>
			</select>
		</div>

		<div class="form-group">
				<label for="file" >Select a Featured Image</label>
				<input type="file" id="file" class="form-control" onchange="readURL(this);">
				<img id="featured_image" src="" alt="Featured Image">
		</div>

		</div>

</div>
{% elif edit_post %}
<div class="col-md-6">


		<div class="post">



					<div class="form-group">

							<label for="post-title">Post Title:</label>
							<input type="text" id="post-title" class="form-control" value="{{post.title}}">

					</div>

					<div class="form-group">
							<label for="content">Post Content:</label>
							<textarea class="form-control" rows="6" id="content">
								{{post.content}}
							</textarea>

					</div>



				<div class="form-group" style="float: right">
						<button id="draft" class="btn btn-default">Save as Draft</button>
						<button id="pubish" class="btn btn-primary">Publish</button>
				</div>

		</div>



</div>

<div class="col-md-2">

		<div class="post-option">

				<h2 style="font-size: 20px">Post Options:</h2>

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<label class="input-group-text" for="category">Category</label>
			</div>
			<select class="custom-select" id="category">
				<option selected value="{{post.category}}">{{post.category}}</option>
				<option value="java">Java</option>
				<option value="php">PHP</option>
				<option value="python">Python</option>
			</select>


		</div>

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<label class="input-group-text" for="category">Tags</label>
			</div>
			<select class="custom-select" id="category">
				<option selected value="{{post.tag}}">{{post.tag}}</option>
				<option value="java">algorithm</option>
				<option value="php">php</option>
				<option value="python">data structure</option>
				<option value="python">content programming</option>
			</select>
		</div>

		<div class="form-group">
				<label for="file" >Select a Featured Image</label>
				<input type="file" id="file" class="form-control" onchange="readURL(this);">
				<img id="featured_image" src="/media/{{post.featured_img}}" alt="{{post.title}}" width="200px" height="200px">
		</div>

		</div>

</div>
{% endif %}
{% endblock %}
