<!DOCTYPE html>
{% extends 'backend/base.html'%}
{% block content %}
{% if post_page %}
<div class="col-md-10" >


		<div class="post" style="height:500px; overflow: scroll">
			<div class="" style="float:right; margin-bottom:10px">
				<a href="{% url 'backend:new_post'%}"class="btn btn-primary"> + New Post </a>
			</div>


				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Post Title</th>
							<th scope="col">Author</th>
							<th scope="col">Date Modified</th>
							<th scope="col">Status</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% if posts %}
							{% for post in posts %}
							<tr>
								<th scope="row">{{ forloop.counter }}</th>
								<td> <a href="/blog/posts/{{post.id}}"> {{ post.title}} </a></td>
								<td><a href="/blog/author/{{post.author}}">{{ post.author}}</a></td>
								<td>{{post.updated_date.year}}/{{post.updated_date.month}}/{{post.updated_date.day}}</td>
								<td>{{post.status}}</td>
								<td>
										<a href="/backend/edit_post/{{post.id}}" class="btn btn-success">edit</a>
										<a href="/backend/delete_post/{{post.id}}" class="btn btn-danger">delete</a>

								</td>
								<td></td>
							</tr>
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
				<div class="pagination">
				<span class="step-links">
						{% if posts.has_previous %}
								<a href="?page=1">&laquo; first</a>
								<a href="?page={{ posts.previous_page_number }}">previous</a>
						{% endif %}

						<span class="current">
								Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
						</span>

						{% if posts.has_next %}
								<a href="?page={{ posts.next_page_number }}">next</a>
								<a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
						{% endif %}
				</span>
			</div>



		</div>
</div>
{% elif new_post %}
<div class="col-md-6">


		<div class="post">
				<form action="{% url 'backend:create_post'%}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
				<div class="form-group">

						<label for="post-title">Post Title:</label>
						<input type="text" id="post-title" class="form-control" name="post_title" value="">

				</div>

				<div class="form-group">
						<label for="summernote">Post Content:</label>
						<textarea class="form-control" rows="6" id="summernote" name="post_content">

						</textarea>

				</div>

				<div class="form-group" style="float: right">
						<input type="submit" name="status" value="Save as Draft" id="draft" class="btn btn-default">
						<input  type="submit" name="status" id="pubish" class="btn btn-primary" value="Publish">
				</div>


		</div>



</div>

<div class="col-md-2">

		<div class="post-option">

			<h2 style="font-size: 20px">Post Options:</h2>


			<h5>Categories:</h5>
			{% for category in categories %}
			<div class="form-check">
				<input name="category" class="form-check-input" type="checkbox" value="{{category.text}}" id="defaultCheck1">
				<label class="form-check-label" for="defaultCheck1">
					{{category.text}}
				</label>
			</div>
			{% endfor %}
			<h5>Tags:</h5>
			{% for tag in tags %}
			<div class="form-check">
				<input name="tag" class="form-check-input" type="checkbox" value="{{tag.text}}" id="defaultCheck1" >
				<label class="form-check-label" for="defaultCheck1">
					{{tag.text}}
				</label>
			</div>
			{% endfor %}

		<div class="form-group">
				<label for="file" >Select a Featured Image</label>
				<input name="featured_img" type="file" accept="image/*" id="file" class="form-control" onchange="readURL(this);">
				<img id="featured_image" src="" alt="Featured Image">
		</div>

			</form>

		</div>

</div>
{% elif edit_post %}
<div class="col-md-6">


		<div class="post">

				<form action="{% url 'backend:update_post' %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}

					<div class="form-group">
							<input type="hidden" name="post_id" value="{{post.id}}" >
							<label for="post-title">Post Title:</label>
							<input type="text" name="post_title" id="post-title" class="form-control" value="{{post.title}}">

					</div>

					<div class="form-group">
							<label for="content">Post Content:</label>
							<textarea name="post_content" class="form-control" id="summernote" rows="6">
								{{post.content}}
							</textarea>


					</div>



				<div class="form-group" style="float: right">
					 {% if post.status == 'drafted' %}
					 <input type="submit" name="status" value="Save as Draft" id="draft" class="btn btn-default">
					 <input  type="submit" name="status" id="pubish" class="btn btn-primary" value="Publish">
					 {% else %}
						<button type="submit" id="update" class="btn btn-primary">Update</button>
					 {% endif %}
				</div>

		</div>



</div>

<div class="col-md-2">

		<div class="post-option">

				<h2 style="font-size: 20px">Post Options:</h2>


				<h5>Categories:</h5>
				{% for category in post_categories %}
				<div class="form-check">
					<input name="category" class="form-check-input" type="checkbox" value="{{category.text}}" id="defaultCheck1" checked>
					<label class="form-check-label" for="defaultCheck1">
						{{category.text}}
					</label>
				</div>
				{% endfor %}
				{% for category in other_categories %}
				<div class="form-check">
					<input name="category" class="form-check-input" type="checkbox" value="{{category.text}}" id="defaultCheck1">
					<label class="form-check-label" for="defaultCheck1">
						{{category.text}}
					</label>
				</div>
				{% endfor %}

				<h5>Tags:</h5>
				{% for tag in post_tags %}
				<div class="form-check">
					<input name="tag" class="form-check-input" type="checkbox" value="{{tag.text}}" id="defaultCheck1" checked>
					<label class="form-check-label" for="defaultCheck1">
						{{tag.text}}
					</label>
				</div>
				{% endfor %}
				{% for tag in other_tags %}
				<div class="form-check">
					<input name="tag" class="form-check-input" type="checkbox" value="{{tag.text}}" id="defaultCheck1" >
					<label class="form-check-label" for="defaultCheck1">
						{{tag.text}}
					</label>
				</div>
				{% endfor %}


		</div>

		<div class="form-group">
				<label for="file" >Select a Featured Image</label>
				<input name="featured_img" value="{{post.featured_img}}" type="file" id="file" class="form-control" onchange="readURL(this);">
				<img id="featured_image" src="/media/{{post.featured_img}}" alt="{{post.title}}" width="200px" height="200px">
		</div>

		</div>

</div>
</form>
{% endif %}
{% endblock %}
