<!DOCTYPE html>
{% extends 'backend/base.html'%}
{% block content %}
<div class="col-md-4">

		<div class="post">
			<form method="POST" action="{% url 'backend:update_profile'%}">
				{% csrf_token %}
				<input type="hidden" name="profile_id" value="{{profile.id}}">
						<div class="form-group">
								<img src="/media/{{ profile.profile_pic }}" alt="xHacker404" id="profile" width="200px;" height="200px;" >
								<input name="profile_pic" type="file" id="file" value="change picture" onchange="readURL(this);" class="form-control" style="width:200px; margin-top:11px;">
						</div>


				<div class="form-group">
						<label for="name">Username:</label>
						<input type="text" class="form-control" name="username" id="username" value="{{profile.user.username}}">
				</div>

				<div class="form-group">
						<label for="name">First Name:</label>
						<input type="text" class="form-control" name="firstname" id="firstname" value="{{profile.user.first_name}}">
				</div>

				<div class="form-group">
						<label for="name">Last Name:</label>
						<input type="text" class="form-control" name="lastname" id="lastname" value="{{profile.user.last_name}}">
				</div>

				<div class="form-group">
						<label for="email">Email:</label>
						<input type="text" name="email" id="email" value="{{profile.user.email}}" class="form-control">

				</div>
				<div class="form-group">
						<label for="password">
								Password:
						</label>
						<input name="password" type="password" id="password" class="form-control" value="{{profile.user.password}}">
				</div>
				 <div class="form-group">
						<label for="confirmPassword">
								Confirm Password:
						</label>
						<input name="confirm_password" type="password" id="confirmPassword" class="form-control"  value="{{profile.user.password}}">
				</div>

					<input type="submit" value="Update" class="btn btn-primary">

			</form>


		</div>



</div>

<div class="col-md-6">



</div>


</div>
{% endblock %}
