<!DOCTYPE html>
{% extends 'backend/base.html'%}
{% block content %}
<div class="col-md-4">

		<div class="post">
			<form method="post" action="{% url 'backend:update_settings'%}">
				{% csrf_token %}
						<div class="form-group">
								<img src="/media/{{settings.site_icon}}" alt="Icon" id="icon" width="50px;" height="50px;" >
								<input type="file" name="icon" id="icon" value="/media/{{settings.site_icon}}" accept="image/*" onchange="readURL(this);" class="form-control" style="width:200px; margin-top:11px;">
						</div>
						<div class="form-group">
								<img src="/media/{{settings.site_logo}}" alt="Logo" id="logo" width="50px;" height="50px;" >
								<input  type="file" name="logo" id="logo"  value="/media/{{settings.site_logo}}" accept="image/*" onchange="readURL(this);" class="form-control" style="width:200px; margin-top:11px;">
						</div>


				<div class="form-group">
						<label for="name">Blog Title:</label>
						<input type="text" class="form-control" name="title" id="title" value="{{settings.site_title}}">
				</div>

				<div class="form-group">
						<label for="name">Blog Tagline:</label>
						<input type="text" class="form-control" name="tagline" id="tagline" value="{{settings.tagline}}">
				</div>

				<div class="form-group">
						<label for="name">Meta:Keywords</label>
						<input type="text" class="form-control" name="keywords" id="Keywords" value="{{settings.keywords}}">
				</div>
				<div class="form-group">
						<label for="name">Meta:Description</label>
						<input type="text" class="form-control" name="description" id="description" value="{{settings.description}}">
				</div>

				<div class="form-group">
						<label for="name">Post per page</label>
						<input type="number" class="form-control" name="post_per_page" id="post_per_page" value="{{settings.post_per_page}}">
				</div>



					<input type="submit" value="Update" class="btn btn-primary">

			</form>


		</div>



</div>

<div class="col-md-6">



</div>


</div>
{% endblock %}
