<!DOCTYPE html>
{% extends 'backend/base.html'%}
{% block content %}
<div class="col-md-6">


                <div class="post">

                <div class="form-group">

                    <label for="new_tag">Add New Tag</label>
                    <input type="text" class="form-control" id="new_tag">

                    </div>
                    <button class="btn btn-primary">Add This Tag </button>


                <div class="card" style="margin-top: 44px;">
                </div>
                <div class="card-body">
                    <h2 class="card-title" style="font-size:20px;">Available Tags:</h2>
                    <ul>
                        <li>c</li>
                        <li>php</li>
                        <li>algorithm</li>
                        <li>programming</li>
                        <li>contest</li>

                    </ul>

                </div>

                </div>

                </div>



            </div>

            <div class="col-md-2">



            </div>

        
{% endblock %}
