<!DOCTYPE html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Shifan's Blog</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">    
    <link href="css/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .centered{
            margin: auto; 
            margin-top:200px;
            
             
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
        <div class="col-md-4 centered">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Stay Logged in</label>
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
        
        </div>
        
        
        </div>
        
        
    </div>    

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>    
<script src="js/jquery-ui.js"></script>
<script src="js/script.js"></script>    
</body>
</html>
