<!DOCTYPE html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Shifan's Blog</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <style type="text/css">

    </style>
</head>
<body>
    <div class="fluid-container">
    <div class="row">

        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
              <a class="navbar-brand" href="index.html">Dashboard</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">




                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <img src="images/me.jpg" width="50px;" height="50px;" class="profile-icon">
                  <a class="nav-link">xHacker404</a>
                  <a class="nav-link btn btn-secondary" href="index.html" style="margin-left: 10px">Log Out</a>
                </form>
              </div>
         </nav>

        </div>


    </div>

        <div class="row" style="margin-top:100px ">
            <div class="col-md-2" id="left-sidebar">

                <div class="list-group">

                    <a href="new_post.html" class="list-group-item active">Add New Post</a>
                    <a href="posts.html" class="list-group-item ">Posts</a>
                    <a href="users.html" class="list-group-item ">Users</a>
                    <a href="comments.html" class="list-group-item ">Comments</a>
                    <a href="category.html" class="list-group-item ">Categories</a>
                    <a href="tags.html" class="list-group-item ">Tags</a>
                    <a href="profile.html" class="list-group-item ">Profile</a>


                </div>

            </div>
            <div class="col-md-6">


                <div class="post">

                    <div class="form-group">

                        <label for="post-title">Post Title:</label>
                        <input type="text" id="post-title" class="form-control" value="">

                    </div>

                    <div class="form-group">
                        <label for="content">Post Content:</label>
                        <textarea class="form-control" rows="6" id="content">

                        </textarea>

                    </div>

                    <div class="form-group" style="float: right">
                        <button id="draft" class="btn btn-default">Save as Draft</button>
                        <button id="pubish" class="btn btn-primary">Publish</button>
                    </div>

                </div>



            </div>

            <div class="col-md-2">

                <div class="post-option">

                    <h2 style="font-size: 20px">Post Options:</h2>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="category">Category</label>
                  </div>
                  <select class="custom-select" id="category">
                    <option selected value="c">C</option>
                    <option value="java">Java</option>
                    <option value="php">PHP</option>
                    <option value="python">Python</option>
                  </select>


                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="category">Tags</label>
                  </div>
                  <select class="custom-select" id="category">
                    <option selected value="c">C</option>
                    <option value="java">algorithm</option>
                    <option value="php">php</option>
                    <option value="python">data structure</option>
                    <option value="python">content programming</option>
                  </select>
                </div>

                <div class="form-group">
                    <label for="file" >Select a Featured Image</label>
                    <input type="file" id="file" class="form-control" onchange="readURL(this);">
                    <img id="featured_image" src="" alt="Featured Image">
                </div>

                </div>

            </div>


        </div>





    <div class="row">
            <div class="col-md-12">

                <footer>
                    Copyright &copy; 2018 <a href="http://xHacker404.com">xHacker404 Shifan</a>
                </footer>

            </div>

    </div>
    </div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/script.js"></script>
<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#featured_image').attr('src', e.target.result).width(150).height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
</body>
</html>
