<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block post_block %}
<div class="col-md-7">
    <div class="post">
        {% if post  %}
        <h2>{{post.title}}</h2>
        <ul>
            <li>By <a href="blog/posts/{{post.author}}">{{post.author}}</a></li>
            <li><a href="blog/posts/{{post.published_date.date}}"> <i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.published_date}}</a></li>

        </ul>
        <hr>
        <p>
            {{post.content}}
        </p>

       <ul class="pager">
          <li style="margin-left:0"><a href="#">Previous Post</a></li>
          <li style="float: right"><a href="#">Next Post</a></li>
        </ul>
        <p><b>Categories:</b><a href="blog/{{ tag }}" />{{ post.category }}</a></p> <br>
        <p><b>Tags:</b><a href="blog/{{ category }}" />{{ post.tag }}</a></p>

        <div id="share">Share This Post</div>

        <div class="card">

            <div class="card-header">
                    Leave a Comment:
            </div>
            <div class="card-body">

            <form action="{% url 'blog:submit_comment'%}" method="POST">
              {% csrf_token %}

                <div class="form-group">

                  <input type="text" name='comment_title'>
                    <textarea class="form-control" id="comment-box" rows="3" name="comment_content"></textarea>

                </div>

                <button type="submit" class="btn btn-primary" >Submit</button>

            </form>

            </div>

        </div>

        <div class="row comment">




        {% if comments %}
          {% for comment in comments %}
          <div class="col-md-1 commenter"><img src="{% static 'images/profile.png' %}" alt="50x50"></div>
          <div class="col-md-10 comment-body">
              <h2 style="font-size: 20px">{{comment.title}}</h2>
              <p>{{comment.content}}</p>
              <button type="button" class="btn">Reply</button>

          </div>

          {% endfor %}
        {% else %}
        <p>Sorry No Comment for this post!</p>
        {% endif %}


      </div>
    </div>
    {% else %}
    <p>Post Has been deleted OR 404!!!!</p>
    {% endif %}




</div>
{% endblock %}
