<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block post_block %}
<div class="col-md-7">
    <div class="post">
        {% if post  %}
        <h2>{{post.title}}</h2>
        <ul>
            <li>By <a href="blog/posts/{{post.author}}">{{post.author}}</a></li>
            <li><a href="blog/posts/{{post.published_date.date}}"> <i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.published_date}}</a></li>

        </ul>
        <hr>
        <p>
            {{post.content}}
        </p>

       <ul class="pager">
          <li style="margin-left:0"><a href="#">Previous Post</a></li>
          <li style="float: right"><a href="#">Next Post</a></li>
        </ul>
        <p><b>Categories:</b><a href="blog/{{ tag }}" />{{ post.category }}</a></p> <br>
        <p><b>Tags:</b><a href="blog/{{ category }}" />{{ post.tag }}</a></p>

        <div id="share">Share This Post</div>

        <div class="card">

            <div class="card-header">
                    Leave a Comment:
            </div>
            <div class="card-body">

            <form>

                <div class="form-group">

                    <textarea class="form-control" id="comment-box" rows="3"></textarea>

                </div>

                <button type="submit" class="btn btn-primary" >Submit</button>

            </form>

            </div>

        </div>

        <div class="row comment">


        <div class="col-md-1 commenter"><img src="{% static 'images/profile.png' %}" alt="50x50"></div>

        <div class="col-md-10 comment-body">
            <h2 style="font-size: 20px">Binary Digit</h2>
            <p>
                orem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus tristique risus. Sed sodales tortor id elit bibendum, in varius augue gravida. In id risus diam. Nunc sed fringilla metus, vitae dapibus mauris. Mauris quis malesuada nulla. In dui magna, volutpat id nulla sed, elementum hendrerit orci. Praesent id metus sed exLorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus tristique risus. Sed sodales tortor id elit bibendum, in varius augue gravida. In id risus diam. Nunc sed fringilla metus, vitae dapibus mauris. Mauris quis malesuada nulla. In dui magna, volutpat id nulla sed, elementum hendrerit orci. Praesent id metus s quis malesuada nulla.
            </p>
            <button type="button" class="btn">Reply</button>

        </div>


        </div>

        <div class="row comment">

        <div class="col-md-1 commenter"><img src="{% static 'images/profile.png' %}" alt="50x50" width="50px" height="50px"></div>
        <div class="col-md-10 comment-body">
            <h2 style="font-size: 20px">xHacker404</h2>
            <p>
               volutpat id nulla sed, elementum hendrerit orci. Praesent id metus sed exLorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus tristique risus. Sed sodales tortor id elit bibendum, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus tristique risus. Sed sodales tortor id elit bibendum, in varius augue gravida. In id risus diam. Nunc sed fringilla metus, vitae dapibus mauris. Mauris quis malesuada nulla. In dui magna, volutpat id nulla sed, elementum hendrerit orci. Praesent id metus sed
            </p>
            <button type="button" class="btn">Reply</button>

        </div>


        </div>

        <div class="row comment">

        <div class="col-md-1 commenter"><img src="{% static 'images/profile.png' %}" alt="50x50" width="50px" height="50px"></div>
        <div class="col-md-10 comment-body">
            <h2 style="font-size: 20px">xCode</h2>
            <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!
            </p>
            <button type="button" class="btn">Reply</button>
            <div class="row reply" style="margin-top:22px">
                <div class="col-md-1 commenter">
                    <img src="{% static 'images/profile.png' %}" alt="50x50" >
                </div>

                <div class="col-md-9 comment-body">
                    <h2 style="font-size:20px">xHacker404</h2>
                    <p>
                        In dui magna, volutpat id nulla sed, elementum hendrerit orci. Praesent id metus sed exLorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus tristique risus. Sed sodales tortor id elit bibendum, in varius augue gravida. In id risus diam. Nunc sed fringilla metus, vitae dapibus mauris. Mauris quis malesuada nulla. In dui magna, volutpat id nulla sed
                    </p>

                </div>

            </div>


        </div>


        </div>


    </div>
    {% else %}
    <p>Post Has been deleted OR 404!!!!</p>
    {% endif %}




</div>
{% endblock %}
