<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block post_block %}
<div class="col-md-7">
    <div class="post">
        {% if post  %}
        <h2>{{post.title}}</h2>
        <ul>
            <li>By <a href="/blog/author/{{post.author}}">{{post.author}}</a></li>
            <li><a href="/blog/posts/{{post.published_date.date}}"> <i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.published_date}}</a></li>

        </ul>
        <hr>
        <img src="/media/{{post.featured_img}}" alt="{{post.title}}" width="600px" height="400px" align="center"/></br>
        <p>
            {{post.content | safe }}
        </p>


       <ul class="pager">

          {% if previous_post %}
          <li style="margin-left:0"><a href="/blog/posts/{{previous_post.id}}">Previous Post</a></li>
          {% endif%}

          {% if next_post %}
          <li style="float: right"><a href="/blog/posts/{{next_post.id}}">Next Post</a></li>
          {% endif %}
        </ul>

        <p><b>Categories:</b>
        {% for category in post_categories %}
        {% if forloop.last %}
        <a href="/blog/category/{{ category.text }}" />{{ category.text }}</a>
        {% else %}
          <a href="/blog/category/{{ category.text }}" />{{ category.text }}</a>,
        {% endif %}
        {% endfor %}
        </p>
        <p><b>Tags:</b>
        {% for tag in post_tags %}
        {% if forloop.last %}
        <a href="/blog/tag/{{ tag.text }}" />{{ tag.text }}</a>
        {% else %}
          <a href="/blog/tag/{{ tag.text }}" />{{ tag.text }}</a>,
        {% endif %}
        {% endfor %}
        </p>



      <div id="share">Share This Post</div>


        <div class="card">

            <div class="card-header">
                    Leave a Comment:
            </div>
            <div class="card-body">

            {% if user.is_authenticated %}
            <form action="{% url 'blog:submit_comment'%}" method="POST">
              {% csrf_token %}

                <div class="form-group">

                  <input type="hidden" name='post_id' value="{{post.id}}">
                    <textarea class="form-control" id="comment-box" rows="3" name="comment_content"></textarea>

                </div>

                <button type="submit" class="btn btn-primary" >Submit</button>

            </form>
            {% else %}
            <form action="#" method="POST">
              {% csrf_token %}

                <div class="form-group">

                  <input type="hidden" name='post_id' value="{{post.id}}">
                    <textarea class="form-control" id="comment-box" rows="3" name="comment_content"></textarea>

                </div>

                <button type="submit" class="btn btn-primary" onclick="login_alert()">Submit</button> <!-- have to work here -->
              </form>

            {% endif %}

            </div>

        </div>

        <div class="row comment">




        {% if comments %}
          {% for comment in comments %}
          <div class="col-md-1 commenter"><img src="/media/{{comment.author.profile_pic}}" alt="50x50"></div>
          <div class="col-md-10 comment-body">
              <h2 style="font-size: 20px">{{comment.author.user}}</h2>
              <p>{{comment.content}}</p>
              {% if comment.replies.all %}
                {% for reply in comment.replies.all %}
                <div class="row rpl" style="margin-top:22px">

                    <div class="col-md-1 commenter">
                        <img src="/media/{{reply.author.profile_pic}}" alt="50x50" >
                    </div>

                    <div class="col-md-9 comment-body">
                        <h2 style="font-size:20px">{{reply.author.user}}</h2>
                        <p>{{ reply.content}} </p>
                        {% if forloop.last %}
                        {% if user.is_authenticated %}
                        <form action="{% url 'blog:submit_reply'%}" method="POST">
                          {% csrf_token %}

                            <div class="form-group">

                              <input type="hidden" name='post_id' value="{{comment.post.id}}">
                              <input type="hidden" name='comment_id' value="{{comment.id}}">
                                <textarea class="form-control" id="comment-box" rows="3" name="reply_content"></textarea>

                            </div>
                            <button type="submit" class="btn btn-primary">Reply</button>
                          </form>
                          {% else %}
                          <form action="#" method="POST">
                            {% csrf_token %}

                              <div class="form-group">

                                <textarea class="form-control" id="comment-box" rows="3" name="reply_content"></textarea>

                              </div>
                              <button type="submit" class="btn btn-primary" onclick="login_alert()">Reply</button>
                            </form>

                          {% endif %}

                        {% endif %}
                    </div>


                </div>
                {% endfor %}


              {% else %}
                <button type="button" class="btn reply">Reply</button>
                {% if user.is_authenticated %}
                <form class="reply-form" action="{% url 'blog:submit_reply'%}" method="POST">
                  {% csrf_token %}

                    <div class="form-group">


                      <input type="hidden" name='post_id' value="{{comment.post.id}}">
                      <input type="hidden" name='comment_id' value="{{comment.id}}">
                        <textarea class="form-control" id="comment-box" rows="3" name="reply_content"></textarea>

                    </div>

                    <button type="submit" class="btn btn-primary">Reply</button>
                    {% else %} <!-- have to work here -->
                    <form class="reply-form" action="#" method="POST">
                      {% csrf_token %}

                        <div class="form-group">


                          <input type="hidden" name='post_id' value="{{comment.post.id}}">
                          <input type="hidden" name='comment_id' value="{{comment.id}}">
                            <textarea class="form-control" id="comment-box" rows="3" name="reply_content"></textarea>

                        </div>

                    <button type="submit" class="btn btn-primary" onclick="login_alert()">Reply</button>
                    {% endif %}
                  </form>
              {% endif %}



          </div>

          {% endfor %}
      
        {% endif %}


      </div>
    </div>
    {% else %}
    <p>Post Has been deleted OR 404!!!!</p>
    {% endif %}




</div>
{% endblock %}
