<!Doctype html>
    <title>Site having maintenance</title>
<style>
    body {
        text-align: center;
        padding: 150px;
    }

    h1 {
        font-size: 50px;
    }

    body {
        font: 20px 'Courier New', Courier, monospace, sans-serif;
        color: #030303;
    }

    article {
        display: block;
        text-align: left;
        width: 650px;
        margin: 0 auto;
    }

    a {
        color: #BA0000;
        text-decoration: none;
    }

    a:hover {
        color: #D00000;
        text-decoration: none;
    }

</style>

<article>
    <h1>We&rsquo;ll be back Soon !!</h1>
    <div>
        <p>
            Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment.
            If you need to you can always <a href="mailto:xHacker404@yoursite.com">contact us</a>, otherwise we&rsquo;ll be back online shortly !!
        </p>
    </div>
</article>